.card {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.card-header {
    display: flex;
    font-size: smaller;
}

.card-header .id {
    opacity: 0.5;
}

.card-header .user {
    opacity: 0.5;
    margin-left: auto;
}

.card-body .title {
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    display: flex;
    margin-top: auto;
}

.card-footer .tag {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;
    font-size:smaller;
}

.card-footer .priority {
    margin-left: auto;
    align-self: center;
}
