.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu-button {
    cursor: pointer;
    margin-right: auto;
    padding: 10px;
  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  select {
    margin-bottom: 10px;
  }
 